<div style="width:400px;background:#DDDDAA;">
  <h2>Second component</h2>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum minima saepe commodi rerum numquam tempora ipsa repudiandae, placeat quam reprehenderit voluptatem natus, expedita similique officiis enim doloribus. Explicabo, dolore fugiat!</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum minima saepe commodi rerum numquam tempora ipsa repudiandae, placeat quam reprehenderit voluptatem natus, expedita similique officiis enim doloribus. Explicabo, dolore fugiat!</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum minima saepe commodi rerum numquam tempora ipsa repudiandae, placeat quam reprehenderit voluptatem natus, expedita similique officiis enim doloribus. Explicabo, dolore fugiat!</p>
</div>